.bs-main-root {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.bs-main {
  width: 1920px;
  height: 1080px;
  background-color: #b4aaaa;
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%) scale(0.5);
  transform-origin: center center;
}
